






img{
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 225px;
}
#card{
    border: 4px dotted red;
    width: 250px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color:azure;
}
h2{
   text-align: center; 
   color: navy;
}